:root {
  --background-color:#FFFEF7;
  --green: #688454;
  --yellow: #FFF4AA;
}

@font-face {
  font-family: Garamondt-Italic;
  src: url(fonts/Garamondt-Italic.woff);
}

@font-face {
  font-family: Junicode-Italic;
  src: url(fonts/Junicode-Italic.woff);
}

body {
  background-color: var(--background-color);
  color: rgba(0,0,0,0.84);
  font-size: 1em;
  line-height: 1.5;
  padding-top: 1em;
}

h1 {
  font-size: 1.2em;
  line-height: 2;
  font-family: Garamondt-Italic;
  text-align: center;
}
h2, h4 {
  font-family: Garamondt-Italic;
  font-weight: normal;
  text-align: center;
  font-size: 1.1em;
  margin-top: 3em;
}
h3 {
  font-family: Garamondt-Italic;
  font-size: 1.1em;
  margin-top: 4em;
}
body {
  font-family: Junicode-Italic;
}
article {
  margin-top: 4em;
}
/**
 * Desktop overrides
 **/
 @media (min-width: 640px) {
  body {
    font-size: 1.2em;
  }
 }

.redacted {
  padding: 3px;
  color: black;
  background-color: black;
  /* white-space:nowrap; */
  /* transform: rotate(.8deg) skewx(-12deg);
  box-shadow:3px 0 2px #444;
  border:1px dotted #555;
  background: linear-gradient(180deg, #000, #222); */
  transition: background-color 1s;

}
.green-redacted {
  padding: 3px;
  color: var(--green);
  background-color: var(--green);
  transition: background-color 1s;
}
.redacted:hover,
.redacted:active,
.green-redacted:hover,
.green-redacted:active {
  color: black;
  background-color: var(--yellow);
}

@media(hover: hover) and (pointer: fine) {
  .redacted:hover,
  .redacted:active,
  .green-redacted:hover,
  .green-redacted:active {
    color: black;
    background: var(--yellow);
  }
}
span.invisible-ink {
  background: var(--background-color);
  color: var(--background-color);
  /* Vincent Charpentier (@VincentCharpentier) also pointed out a simple rule for true invisibility
  color: rgba(0,0,0,0);*/
}


dt {
  float: left;
  clear: left;
  width: 50px;
  text-align: right;
  font-weight: bold;
  /* line-height: 2; */
}
dd {
  margin: 0 0 0 60px;
  padding: 0 0 0.5em 0;
}
